

<div class="" style="" id="fullB0-gridmanager-module">
	<div class="fullB-inner">
<div class="gridmanager-module box" style="margin-top: 40px; margin-bottom: 40px;" id="gridmanager-module0">
	<div class="box-content" style="text-align: center;">
				<div class="rw gut-30">
						<div class="col-d-3 col-t-12 col-m-12 home-col-prd" style="margin-bottom: px;">
				<div class="col-inner" style="">

			

		<div class="box custom-section section-custom mod-grid cestas" id="custom-section00" style="margin-top: 50px; margin-bottom: 50px;">
			<div class="box-heading header-1">Cestas						</div>
			<div class="box-product">
				<div class="grid-wrp gt-20">
					<div class="row m3-col-2 m2-col-2 m1-col-1" data-n=''>
																			<div class="col" data-mh="0-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=50">
						<img src="http://localhost/cafeina/image/cache/data/cestas/cesta-cafeina-express-2-150x150.jpg" title="Cesta Cafeína Express" alt="Cesta Cafeína Express" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=50" class="name">Cesta Cafeína Express</a></strong>
						<div class="rating"><span class="sml-stars stars-5" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$105,90</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('50');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('50');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('50');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
													<div class="col" data-mh="0-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/Cestacafeinadeluxe">
						<img src="http://localhost/cafeina/image/cache/data/cestas/cesta_deluxe_1-150x150.jpg" title="Cesta Cafeína Deluxe" alt="Cesta Cafeína Deluxe" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/Cestacafeinadeluxe" class="name">Cesta Cafeína Deluxe</a></strong>
						<div class="rating"><span class="sml-stars stars-0" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$210,90</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('51');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('51');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('51');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
													<div class="col" data-mh="0-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=52">
						<img src="http://localhost/cafeina/image/cache/data/cestas/cesta-cafeina-special-3-150x150.jpg" title="Cesta Cafeína Especial" alt="Cesta Cafeína Especial" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=52" class="name">Cesta Cafeína Especial</a></strong>
						<div class="rating"><span class="sml-stars stars-0" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$154,20</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('52');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('52');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('52');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
													<div class="col" data-mh="0-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=54">
						<img src="http://localhost/cafeina/image/cache/data/cesta_super_deluxe_1-150x150.jpg" title="Cesta Cafeína Super Deluxe" alt="Cesta Cafeína Super Deluxe" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=54" class="name">Cesta Cafeína Super Deluxe</a></strong>
						<div class="rating"><span class="sml-stars stars-0" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$286,50</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('54');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('54');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('54');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
																		<b class="clearfix"></b>
					</div>
				</div>
			</div>
			<div class="clearfix" style=""></div>
		</div>
				<script>
		var obj = "#custom-section00";
		var cls = " .row";
		$(document).ready(function() { var w = $(obj+cls).outerWidth(); setTimeout(function(){ rowChange(obj, w, cls); }, 400); });
		$(window).resize(function() { var w = $(obj+cls).outerWidth(); setTimeout(function(){ rowChange(obj, w, cls); }, 400); });
		</script>
		

				

	


</div>
			</div>
						<div class="col-d-3 col-t-12 col-m-12 home-col-prd" style="margin-bottom: px;">
				<div class="col-inner" style="">

			

		<div class="box custom-section section-custom mod-grid tortas" id="custom-section01" style="margin-top: 50px; margin-bottom: 50px;">
			<div class="box-heading header-1">Tortas						</div>
			<div class="box-product">
				<div class="grid-wrp gt-20">
					<div class="row m3-col-2 m2-col-2 m1-col-1" data-n=''>
																			<div class="col" data-mh="1-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=75">
						<img src="http://localhost/cafeina/image/cache/data/alema-1_1-150x150.jpg" title="Alemã" alt="Alemã" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=75" class="name">Alemã</a></strong>
						<div class="rating"><span class="sml-stars stars-5" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$60,00</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('75');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('75');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('75');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
													<div class="col" data-mh="1-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/Brigadeiro">
						<img src="http://localhost/cafeina/image/cache/data/brigadeiro-2-150x150.jpg" title="Brigadeiro" alt="Brigadeiro" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/Brigadeiro" class="name">Brigadeiro</a></strong>
						<div class="rating"><span class="sml-stars stars-0" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$60,00</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('80');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('80');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('80');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
													<div class="col" data-mh="1-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=86">
						<img src="http://localhost/cafeina/image/cache/data/coco_2-150x150.jpg" title="Coco" alt="Coco" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=86" class="name">Coco</a></strong>
						<div class="rating"><span class="sml-stars stars-0" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$121,00</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('86');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('86');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('86');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
													<div class="col" data-mh="1-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=69">
						<img src="http://localhost/cafeina/image/cache/data/torta-nutella-cupuacu-1_1-150x150.jpg" title="Nutella com Cupuaçu" alt="Nutella com Cupuaçu" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=69" class="name">Nutella com Cupuaçu</a></strong>
						<div class="rating"><span class="sml-stars stars-0" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$132,00</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('69');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('69');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('69');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
																		<b class="clearfix"></b>
					</div>
				</div>
			</div>
			<div class="clearfix hr" style="margin-top:30px;"></div>
		</div>
				<script>
		var obj = "#custom-section01";
		var cls = " .row";
		$(document).ready(function() { var w = $(obj+cls).outerWidth(); setTimeout(function(){ rowChange(obj, w, cls); }, 400); });
		$(window).resize(function() { var w = $(obj+cls).outerWidth(); setTimeout(function(){ rowChange(obj, w, cls); }, 400); });
		</script>
		

				

	


</div>
			</div>
						<div class="col-d-3 col-t-12 col-m-12 home-col-prd" style="margin-bottom: px;">
				<div class="col-inner" style="">

			

		<div class="box custom-section section-custom mod-grid Monte sua Cesta" id="custom-section02" style="margin-top: 50px; margin-bottom: 50px;">
			<div class="box-heading header-1">Monte sua Cesta						</div>
			<div class="box-product">
				<div class="grid-wrp gt-20">
					<div class="row m3-col-2 m2-col-2 m1-col-1" data-n=''>
																			<div class="col" data-mh="2-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=308">
						<img src="http://localhost/cafeina/image/cache/data/atualizar site/Brownie-150x150.jpg" title="Brownie" alt="Brownie" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=308" class="name">Brownie</a></strong>
						<div class="rating"><span class="sml-stars stars-0" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$7,90</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('308');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('308');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('308');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
													<div class="col" data-mh="2-rgen_customproducts-prd">
								<div class="prd-block2">
	<div class="image">
		        <a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=311">
						<img src="http://localhost/cafeina/image/cache/data/atualizar site/Trufa-150x150.jpg" title="Trufa" alt="Trufa" />
					</a>
	</div>
	<div class="info-wrp">
		<div class="info">
			<strong class="nameText"><a href="http://localhost/cafeina/index.php?route=product/product&amp;product_id=311" class="name">Trufa</a></strong>
						<div class="rating"><span class="sml-stars stars-0" title="text_reviews"></span></div>
									<div class="price">
								<span class="price-new">R$6,90</span>
							</div>
						<div class="buy-option">
				<a class="addtocart" title="Comprar" onclick="addToCart('311');">Comprar</a>
				<span class="otherbtn">
					<a class="prdbt wish" onclick="addToWishList('311');" title="Colocar na lista de desejos">Colocar na lista de desejos</a>
					<a class="prdbt compare" onclick="addToCompare('311');" title="Adicionar à comparação">Adicionar à comparação</a>
				</span>
			</div>
		</div>
	</div>
</div>							</div>
																		<b class="clearfix"></b>
					</div>
				</div>
			</div>
			<div class="clearfix hr" style="margin-top:30px;"></div>
		</div>
				<script>
		var obj = "#custom-section02";
		var cls = " .row";
		$(document).ready(function() { var w = $(obj+cls).outerWidth(); setTimeout(function(){ rowChange(obj, w, cls); }, 400); });
		$(window).resize(function() { var w = $(obj+cls).outerWidth(); setTimeout(function(){ rowChange(obj, w, cls); }, 400); });
		</script>
		

				

	


</div>
			</div>
					</div>
				<div class="clearfix hr" style="margin-top:10px;"></div>
	</div>
</div>
<script>
$('#gridmanager-module0 .custom-tabs a').on('click', function(event) {
	event.preventDefault();
	$.fn.matchHeight._update(true);
});
$(document).ready(function() {
	var obj = "#gridmanager-module0 > .box-content > .rw > [class^=col]";
	$(obj).matchHeight(true)
});
</script>
		</div>
</div>
