

<div class="" style="" id="fullBeeQA0c-banners-module">
	<div class="fullB-inner">


<div class="banners-module box" style="margin-top: 50px; margin-bottom: 60px;" id="banners-moduleeeQA0c">

	<p>admin</p>
	
			
		<div class="box-content" style="text-align: center;">


		
						

									

			

			

			
						<div class="masonry-wrp g10" data-g="g10">

									<div data-ss-rowspan="2" data-ss-colspan="3" class="masonry-item">
												<a href="http://www.cafeina.com.br/index.php?route=product/category&amp;path=63"class="imgblock cp-no-effect">
							<img src="http://localhost/cafeina/image/cache/data/Banner_menor_tortas-287x188.jpg" alt="Torta de Brigadeiro" />													</a>
											</div>
																					
									<div data-ss-rowspan="4" data-ss-colspan="6" class="masonry-item">
						<div class="slide-widget" data-auto="true" data-effect="fadeUp" data-interval="2000" data-pauseonhover="true" data-height="386" data-width="584">
																					<div class="slide"><a href="http://www.cafeina.com.br/cestasdecafedamanha"><img src="http://localhost/cafeina/image/cache/data/cafeina_banner_site2_2-584x386.jpg" alt="" /></a></div>
																												<div class="slide"><a href="http://www.cafeina.com.br/festa"><img src="http://localhost/cafeina/image/cache/data/cafeina_banner_site2_1-584x386.jpg" alt="" /></a></div>
																				</div>
					</div>
				
				
					
					
				
									<div data-ss-rowspan="2" data-ss-colspan="3" class="masonry-item">
												<a href="http://www.cafeina.com.br/festa/tabuademinisalgados"class="imgblock cp-no-effect">
							<img src="http://localhost/cafeina/image/cache/data/banner_menor_tabuas-287x188.png" alt="Tábua de Mini Vol-au-Vent" />													</a>
											</div>
					
					
					
				
				
										<div data-ss-rowspan="2" data-ss-colspan="3" class="masonry-item">
												<a href="http://www.cafeina.com.br/index.php?route=product/category&amp;path=61"class="imgblock cp-no-effect">
							<img src="http://localhost/cafeina/image/cache/data/banner_menor_festa2-287x188.jpg" alt="" />													</a>
											</div>
					
					
				
				
					
										<div data-ss-rowspan="2" data-ss-colspan="3" class="masonry-item">
												<a href="http://www.cafeina.com.br/index.php?route=product/category&amp;path=59"class="imgblock cp-no-effect">
							<img src="http://localhost/cafeina/image/cache/data/banner_menor_cesta2-287x188.jpg" alt="" />													</a>
											</div>
					
				
				
			</div>
			<div class="clearfix hr" style="margin-top:50px;"></div>
			

			

			

			

			

			

			

			
		
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#banners-moduleeeQA0c .effect-oscar").each(function() {
		$(this).hover(function() {
			var t = ($(this).find('.bnr-caption').outerHeight()-$(this).find('.bnr-caption strong').outerHeight())/2;
			$(this).find('.bnr-caption strong').css({top: Math.round(t)});
		}, function() {});
	});
});
</script>



		</div>
</div>
